<div class="container-fluid">
	<ul class="nav nav-tabs nav-divider">
		<li role="presentation">
			<a data-toggle="tab" href="#Tab1">Categories</a>
		</li>
		<li role="presentation">
			<a data-toggle="tab" href="#Tab2">Add Example</a>
		</li>
		<li role="presentation">
			<a data-toggle="tab" href="#Tab3">Compare Example</a>
		</li>
	</ul>
</div>
<div id="tab-content" class="tab-content">
	<div id="Tab1" class="tab-pane fade in active">
		@{
			Html.RenderPartial("~/Views/Partials/_PartialCategory.cshtml");
		}
	</div>
	<div id="Tab2" class="tab-pane fade">
		@{
			Html.RenderPartial("~/Views/Partials/_PartialExample.cshtml");
		}
	</div>
	<div id="Tab3" class="tab-pane fade">
		@{
			Html.RenderPartial("~/Views/Partials/_PartialCompare.cshtml");
		}
	</div>
</div>
